body {
	background: #f7f7f7;
	margin: 0;
}

.header-container {
	background: #00377b;
	display: block;
	text-align: center;
}

.header-container #title {
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	padding: 10px 0 10px 0;
	font-size: 63px;
	text-decoration: none;
	text-shadow: #c9d4e0 0px 0px 5px;
}

.header-container #title:hover{
	color: #dad3d3;
}

.header-container #navigation-bar {
	background: #083f82;
	color: #F6F7FF;
	list-style-type: none;
	text-align: center;
}

.header-container #navigation-bar a {
	background: #005caa;
	color: #ffffff;
	display: inline-block;
	font-size: 24px;
	margin: 2px 2px 2px 2px;
	padding: 0 40px 0 40px;
	text-decoration: none;
}

.header-container #navigation-bar a:hover {
	background: #01295a;
	cursor: pointer;
}

.header-container #navigation-bar a.selected {
	background: #004d8e;
	border-bottom: #6948aa;
	border-bottom-style: ridge;
	color: #e6e6e6;
	cursor: default;
}

.panel {
	background: #ffffff;
	display: block;
	margin: 50px 0 50px 0;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 5px 10px 5px;
	width: 70%;
}

.panel .title {
	margin-left: 20px;
}

.article-panel {
	align-items: flex-start;
	background: #ffffff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.article-panel .article {
	background: #f7f7f7;
	height: 300px;
	margin: 2px 0 2px 0;
	padding: 5px 5px 5px 5px;
	width: 300px;
	height: 400px;
}

.article-panel .article .image {
	background: #ffffff;
	display: block;
	height: 80%;
	margin-bottom: 10px;
	width: 100%;
}
.article-panel .article .image img {
	height: 100%;
	margin: auto;
	width: 100%;
}

.article-panel .article .button {
	background: #ffffff;
	border: #000;
	border-style: solid;
	border-radius: 20px;
	border-width: thin;
	color: #000;
	display: block;
	font-size: 16px;
	margin: auto;
	max-width: 100px;
	min-height: 22px;
	padding: 6px 0 4px 0;
	text-align: center;
	text-decoration: none;
}

.article-panel .article .button:hover {
	background: #ececec;
}


.article-panel .article .headline {
	display: block;
	height: auto;
	font-size: larger;
	font-weight: bold;
	margin: 10px 0 10px;
	text-align: center;
}

footer {
	background: #00377b14;
	border-top: #000;
	border-top-style: ridge;
	height: 100%;
}

footer p {
	font-size: 18px;
}
